$colorForOutDir:rgb(0,0,0);

.activateAccount{
  flex: 1 1 100%;
  display: flex;
  background-color: rgb(40, 40,40);
  justify-content: center;
  align-items: center;
  &__content{
    font-size: 36px;
    border: 30px solid;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorForOutDir;
    &__text{
      padding: 30px;
      border-radius: 30px;
      font-weight: 700;
      color: rgb(40, 40,40);
      background-color: rgb(255, 142, 40);
    }
  }
}