.error_page__content {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h1 {
    font-size: 180px;
    margin-top: 28px;
    margin-bottom: 28px;
    font-weight: 700;
  }
  & p {
    font-size: 48px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}
