.storageOutlet {
  display: flex;
  gap: 10px;
  flex-direction: column;

  &__button {
    margin: 0 5px;
  }

  &__name {
    margin: 0 5px;
  }

  &__search {
    margin: 0 5px;
  }

  &__sort {
    margin: 0 5px;
  }

  &__empty {
    img {
      max-width: 100%;
    }
    display: flex;
    justify-content: center;
    opacity: 0.2;
    flex-wrap: wrap;
  }

  &__panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(40, 40, 40);
    padding: 5px;

    button {
      border: 2px solid rgb(40, 40, 40);
      padding: 5px 10px;
      font-weight: 700;
      border-radius: 10px;
      background-color: rgb(255, 182, 40);
    }
  }
  &__item {
    &__title {
      width: 100%;
      text-align: center;
    }

    &__date {
      margin: 0 10px;
    }

    &:hover {
      .storageOutlet {
        &__item {
          &__buttons {
            display: flex;
            flex-direction: row;
            gap: 15px;

            button {
              border: 1px solid rgb(40, 40, 40);
              padding: 5px;
              border-radius: 5px;
              font-weight: 700;
              background-color: rgb(255, 182, 40);
            }
          }
        }
      }
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid;
    padding: 5px;
    align-items: center;
    img {
      height: 20px;
    }
    &__buttons {
      display: none;
    }
  }
}

@media (hover: none) {
  .storageOutlet {
    &__item {
      &__buttons {
        display: flex;
        flex-direction: row;
        gap: 15px;

        button {
          border: 1px solid rgb(40, 40, 40);
          padding: 5px;
          border-radius: 5px;
          font-weight: 700;
          background-color: rgb(255, 182, 40);
        }
      }
    }
  }
}

@media (max-width: 475px) {
  .storageOutlet {
    &__item {
      font-size: 16px;
    }

    &__panel {
      flex-direction: column;
      gap: 10px;
    }

    &__name {
      font-size: 16px;
    }
    &__search {
      font-size: 16px;
      input {
        max-width: 70px;
      }
    }

    &__sort {
      font-size: 16px;
    }
  }
}
