.createDirForStorage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &__form {
    border: 1px solid;
    border-radius: 25px;
    width: 400px;
    & form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;

      label {
        font-size: 24px;
      }

      input {
        font-size: 20px;
        border: 1px solid rgb(40, 40, 40);
        padding: 5px;
        border-radius: 5px;
        width: 100%;
      }
      p {
        color: red;
        font-weight: 700;
      }

      button {
        background-color: rgb(255, 182, 40);
        border: 1px solid rgb(40, 40, 40);
        padding: 5px;
        border-radius: 5px;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
}
