footer {
  background-color: rgb(255, 182, 40);
  height: 30px;
  margin: 20px 0 0 0;
  .content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 700;
  }
}
